/* styles.css */
.gallery {
    /* display: flex; */
    width: 100%;
    margin: 0 auto;
    background-color: aliceblue;
  }
  
  .filter-buttons {
    margin-bottom: 10px;

  }
  
  .filter-button {
    margin: 5px;
    padding: 8px 16px;
    background-color: #1ec4c4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
  }
  
  .filter-button:hover {
    background-color: #0e8787d4;
    transform: scale(1.2);

  }
  
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .image:hover img {
    transform: scale(1.1);
  }
  